@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Londrina+Sketch&family=Protest+Strike&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    background-color: #fff; // Replace with the actual white color from the palette
    padding: 0px;
}

header {
    background-color: #ffffff;
    color: #111111;
    padding: 15px;
    

    img {
        width: 250px;
    }
    
  
}

#hero {
    height: 70vh;
    position: relative;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
        text-align: center;

        h2 {
            color: #000000;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background: rgba(255, 255, 255, 0.5);
        z-index: 2;
    }
}

.service-col {
    border-top: 0rem solid #ffffff; // Adjust color and thickness as needed

    &:nth-child(3n+1) {
        border-top: 0; // To avoid double borders at the start of new rows
    }
}


@media (max-width: 768px) {

    #services .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }
    #services .row.no-gutters .col-12 {
        padding-left: 0;
        padding-right: 0;
    }

    header {
        margin-top: 22rem;

        .monsters-img {
            position: absolute;
            top: 15%;
            left: 0%;
            width: 100%;
            z-index: 1;
        }

        .lady-one-img{
            position: absolute;
            top: 18%;
            left: 0%;
            width: 100%;
            z-index: 1;
        }

        .navbar-toggler {
            border: none;
        }
    }
    
    .center-slogan {
        text-align: left;
        font-weight: 600;
    }

    .get-started-btn {
        position: absolute;
        top: 75%;
        left: 35%;
        margin-top: 1rem;
        z-index: 999;

        button {
            background-color: #0a89bb;
            color: #fff;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: #7c4f8b;
            }
        }
    }
    

    #hero {
        height: 50vh; // Adjust height for smaller screens if needed

    }

    //Hero Text

    #hero .hero-text h2 {
        text-align: center;
        color: #ffffff;
        z-index: 999;
        font-family: "Lilita One", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    #hero .hero-text {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background: linear-gradient(90deg, rgb(144, 90, 156) 0%, #0a89bb99 100%);
        border-radius: 15px;
        padding: 5px;
        margin: 0rem 2rem;
        color: #ffffff;
        z-index: 999;
        border: 4px solid #905a9c;
        font-family: "Lilita One", sans-serif;
        font-weight: 500;

        p {
            font-size: 1.1rem;
            font-weight: 300;
            font-family: "Lilita One", sans-serif;
            font-style: normal;
        }
    }
    .eyes-img {
        position: absolute;
        top: -9%;
        left: 1%;
        width: 100%;
        z-index: 9;
    }

    .get-quote-img {
        position: absolute;
        top: 0%;
        left: 70%;
        width: 100%;
        z-index: 10;
    }


    #services {
        .header-services-img {
            text-align: center;
            margin: 2rem 0;
        }

        .card {
            margin-bottom: 2rem;
            border-radius: 15px;
        }

        h3 {
            padding-top: 1rem;
        }

        h2, h3 {
            font-family: "Lilita One", sans-serif;
        }

        .ad-img {
            text-align: center;
            margin:2rem 0;
            background: linear-gradient(90deg, rgba(144, 90, 156, 0.582) 10%, #0a83bbbe 100%);
            padding: 1rem;
        }

        .call-to-action {
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            background: linear-gradient(90deg, #295161 10%, #295161 100%);
            padding: 1rem;
            border: 2px solid #905a9c;
            text-align: center;
            margin: 2rem 1rem;
            border-radius: 15px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: none;
            font-family: "Lilita One", sans-serif;

            a {
                color: #fff;
                font-weight: 400;
                font-size: 1.2rem;
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                border: 2px solid #0a89bb;

                &:hover {
                    color: #905a9c;
                }
            }
        }
    }

    

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 249, 249, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.bg-img {
    background: url("./assets/img/dreamstime_xxl_85195425.jpg") no-repeat;

}

.cover-layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #373737 0%, #0a89bb 100%);
}


#services {
    padding: 0rem;
    margin: 0rem;
    color: #dbd7d7;

    .service-col {
        border-radius: 15px;
        background: #ffffff;
        
    }

    .cover-service-item {
        margin: 0rem;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background: #fff;
    }

    .top-brands {
        margin-left: 2.2rem;
        border-radius: 15px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background: #c9eefd;
        width: 90%;
        height: 95vh;

        h4 {
            text-align: left;
        }

        .text-section {
            margin: .5rem;
            padding: .2rem .5rem;
            background: #ffffffe8;
            border-radius: 15px;

            p {
                text-align: justify;
            }
        }
    }

    .align-right-icon-top {
        text-align: center;
        font-size: 1rem;
        margin: 0 .1rem;
        border-top-left-radius: 15px;
        color: #000000c7;
        
    }

    .align-right-icon-top .fas {
        padding: .5rem 1rem;
        border: solid 2px #0a89bb;
        border-radius: 15px;
    }


    .align-left-icon-top {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        text-align: left;
        margin-left: 0rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        width: 90%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: linear-gradient(90deg, #24596e 5%, #24596e 85%);
    }

    .car-insurance {        
        background: url("./assets/img/Screenshot\ 2024-10-14\ 184530.png") no-repeat;
        background-size: contain;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .health-insurance {
    }
    
    .money-insurance {        
        background: url("./assets/img/Screenshot\ 2024-10-14\ 193259.png") no-repeat;
        background-size: contain;
    }

    .fibre-deals {
        background: url("./assets/img/Screenshot\ 2024-10-17\ 114110.png") no-repeat;
        background-size: contain;
    }

    .phone-deals {
        background: url("./assets/img/Screenshot\ 2024-10-17\ 101044.png") no-repeat;
        background-size: contain;
    }

    

    .card {
        transition: transform 0.3s ease-in-out;
        padding: 0rem;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    

        &:hover {
            transform: scale(1.05);
        }

        
      

        .card-body {
            position: absolute;
            top: 30%;
            left: -12%;
            width: 100%;
            border-radius: 15px;
            font-family: "Lilita One", sans-serif;

            .align-left-icon-h1 {
                text-align: left;
            }

            .align-left-icon-h1 .hide-element {
                display: inline-block;
                opacity: 0;
                background: linear-gradient(90deg, #ffffff00 35%, #00000094 125%);
                padding: 0.2rem 0.5rem;
                border-right: 4px solid #0a89bb;
                border-radius: .2rem;                
                color: #ffffff;
            }

            .align-left-icon-h1 h5 {
                opacity: 0;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                display: inline-block;
                background: linear-gradient(90deg, #00000094 5%, #ffffff00 35%);
                padding: 0.2rem 0.5rem;
                border-radius: .2rem;
                border-left: 4px solid #905a9c;                
                color: #ffffffb7;
                font-size: 1.2rem;
            }

            .align-left-icon-h1 p {
                background: linear-gradient(90deg, #00000094 5%, #ffffff00 35%);
                padding: 0.2rem 0.5rem;
                border-left: 4px solid #905a9c;
                border-radius: .2rem;
                width: 80%;
                color: #ffffffb7;
            }

            .align-right-icon-h1{
                text-align: right;
            }

            .align-right-icon-h1 .hide-element {
                display: inline-block;
                opacity: 0;
                background: linear-gradient(90deg, #ffffff00 35%, #00000094 125%);
                padding: 0.2rem 0rem;
                border-right: 4px solid #0a89bb;
                border-radius: .2rem;                
                color: #ffffffb7;
            }

            .align-right-icon-h1 p {
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                background: linear-gradient(75deg, #ffffff00 35%, #00000094 125%);
                padding: 0.2rem 0.5rem;
                border-right: 4px solid #0a89bb;
                border-radius: .2rem;
                width: 75%;
                margin-left: auto;
                color: #ffffff;
            }

            .align-right-icon-h1 h4 {
                padding: 0.2rem 0.5rem;
                border-right: 4px solid #0a89bb;
                border-radius: .2rem;
                width: 75%;
                margin-left: auto;
                color: #ffffff94;
                font-size: smaller;
            }

            i {
                margin-bottom: 1rem;
            }
        }
    }
}

#testimonials {
    padding: 0rem 1rem;
    margin: 0rem;

    .testimonial-card {
        margin: 0 auto;
        max-width: 600px;
        padding: 1rem;
    }
}

footer {
    background-color: #222222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
}